/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/*import color*/
@import url('./colors.css');



body{
     background-image: url('../images/backgound.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80vw;
    font-size:15px;
    font-family: 'Poppins',sans-serif;
    
}