/*color*/
@import url('./colors.css');

header{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 3vh;
}
header .title-one, .title-two{
    padding: 3px;
    color: var(--very-dark-blue);
}

header .title-one{
    font-weight: 400;
    color: var(--grayish-blue);
}

header .title-two{
    font-weight: 600;
    
}

header p{
    margin-top: 15px;
    width: 28vw;
    color: var(--grayish-blue);
    text-align: center;
}
